html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: map-get($font-sizes, main-font);
  line-height: map-get($font-sizes, main-line-height);
  color: map-get($colors, main);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 75rem;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
}