html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@keyframes logo-appear {
  0% {
    transform: translateY(-200px);
    transform: scale(1);
    opacity: 0;
  } 

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    transform: rotate(0);
    transform: scale(1);
  } 

}

.navigation-header {
  margin-bottom: 136px;
}

.navigation {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-logo {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 22px;
  text-decoration: none;
  color: #95e1d3;
  font-weight: 700;
  animation: logo-appear 0.7s linear;
  transition: transform 0.3s linear;
}

.site-logo:hover {
  transform: scale(1.1);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 490px;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;
}

.nav-list-item a{
  display: block;
  color: #95e1d3;
  position: relative;
  text-decoration: none;
}

.nav-list-item a:hover{
  color: #f38181;
}

.nav-list-item a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 0%;
  height: 3px;
  background-color: #f38181;
  transition: width 0.3s linear;
}

.nav-list-item a:hover::after{
  width: 100%;
}

.section-name {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 45px;
}

.section-name span {
  margin-top: 20px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.section-name::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto 0;
}

.services {
  margin-bottom: 100px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services-list-item {
  flex-basis: 382px;
  padding-left: 82px;
  position: relative;
}

.services-list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 98px;
}

.team {
  margin-bottom: 76px;
}

.section-description {
  margin: 0 0 92px;
  color: #999999;
  text-align: center;
  font-size: 15px;
  line-height: 24px;

}


.services-list-item::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.services-list-item:nth-child(1)::before {
  background-image: url(https://res.cloudinary.com/duxcfhlg6/image/upload/v1581682222/goit-fe-course/html-css/module-06/icons/icon-alarm_elqmun.png);
}

.services-list-item:nth-child(2)::before {
  background-image: url(https://res.cloudinary.com/duxcfhlg6/image/upload/v1581682222/goit-fe-course/html-css/module-06/icons/icon-web-design_icr9oo.png);
}

.services-list-item:nth-child(3)::before {
  background-image: url(https://res.cloudinary.com/duxcfhlg6/image/upload/v1581682222/goit-fe-course/html-css/module-06/icons/icon-monitor_jse9c9.png);
}

.services-list-item:nth-child(4)::before {
  background-image: url(https://res.cloudinary.com/duxcfhlg6/image/upload/v1581682222/goit-fe-course/html-css/module-06/icons/icon-seo_nzscnz.png);
}

.services-list-item:nth-child(5)::before {
  background-image: url(https://res.cloudinary.com/duxcfhlg6/image/upload/v1581682222/goit-fe-course/html-css/module-06/icons/icon-home_ivl6in.png);
}

.services-list-item:nth-child(6)::before {
  background-image: url(https://res.cloudinary.com/duxcfhlg6/image/upload/v1581682222/goit-fe-course/html-css/module-06/icons/icon-digital_sqruzb.png);
}


.service-name {
  margin: 0 0 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
}

.service-description {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}


.section-description {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.team-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  width: 380px;
}


.team-list-item:hover .team-img-wrapper{
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0px 0px #95e1d3;
}

.team-list-item:hover .overlay{
  opacity: 1;
}


.team-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 14px;
  text-align: center;
}

.team-description {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  text-align: center;
}


.section-description {
  margin-bottom: 90px;
}

.team-image {
  margin-bottom: 30px;
}

.team-img-wrapper {
  position: relative;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( 90deg, rgba(252,227,138, 0.9), rgb(243,129,129, 0.9));;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}




.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  display: flex;
}

.social-item {
  margin-right: 1px;
}

.social-item a {
  display: block;
  width: 55px;
  height: 55px;
  background-color: rgb(252, 227, 138);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.3s linear;
}

.social-item a:hover {
  background-color: rgb(149, 225, 211);
}



.social-item:nth-child(1) a {
  background-image: url('https://res.cloudinary.com/duxcfhlg6/image/upload/v1581689269/goit-fe-course/html-css/module-06/icons/fb-icon_eogo8x.png');
}

.social-item:nth-child(2) a {
  background-image: url('https://res.cloudinary.com/duxcfhlg6/image/upload/v1581689269/goit-fe-course/html-css/module-06/icons/tw-icon_w2u9ua.png');
}

.social-item:nth-child(3) a {
  background-image: url('https://res.cloudinary.com/duxcfhlg6/image/upload/v1581689269/goit-fe-course/html-css/module-06/icons/pinterest-icon_psdrwf.png');
}

.social-item:nth-child(4) a {
  background-image: url('https://res.cloudinary.com/duxcfhlg6/image/upload/v1581689270/goit-fe-course/html-css/module-06/icons/instagram-icon_wpauwp.png');
}

.footer {
  border-top: 1px solid rgb(229, 229, 229);
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.footer-text a {
  color: #f38181;
  text-decoration: none;
}

.footer-text::before {
  content: '\00a9	 ';
}

.footer-form {
  display: flex;
}

.email-input {
  height: 40px;
  width: 230px;
  border: 1px solid #e7e7e7;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.email-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  font-size: 14px;
  text-indent: 12px;
}

.subscribe-btn {
  border: none;
  background-color: #95e1d3;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
  transition: transform 0.2s linear;
  
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: rgb(252, 227, 138);
  transform: scale(1.1);
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}