html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #555252;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 38px 30px 0;
}

header {
  margin-bottom: 55px;
}

.logo {
  float: left;
  display: inline-block;
}

.nav-menu {
  float: right;
  margin: 0;
  padding: 5px 0 0;
  list-style: none;
}

.nav-menu li{
  float: left;
  line-height: 11px;
}

.nav-menu li:not(:last-child){
  margin-right: 34px;
}

.nav-menu-item a{
  display: block;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 11px;
}

.nav-menu-item a:hover,
.nav-menu-item a:focus {
  color: #1abc9c;
}

.section {
  padding: 55px 0;
}

.section-name {
  margin: 0 0 92px;
  padding: 0;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
}

.section-name::after {
  content: "";
  display: block;
  width: 160px;
  height: 7px;
  background-color: #1abc9c;
  margin: 40px auto 0;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-list li {
  width: 255px;
  min-height: 5px;
  float: left;
}

.products-list li:not(:nth-child(4n)) {
  margin-right: 30px;
}

.products-list li:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.product-name {
  float: left;
  padding: 4px 12px;
  width: 200px;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  background-color: #323232;
}

.product-price {
  float: left;
  padding: 4px 0px;
  text-align: center;
  width: 55px;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  background-color: #8c8c8c;
}

.product-price::before {
  content: "$";
}

.product-item:hover {
  cursor: pointer;
}

.product-item:hover .product-name {
  background-color: #1abc9c;
}

.product-item:hover .product-price {
  background-color: #7fd9c7;
}

.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

.news-list li {
  float: left;
  width: 350px;
  padding-bottom: 45px;
}

.news-list li:not(:nth-child(3n)){
  margin-right: 30px;
}


.news-img {
  margin-bottom: 14px;
}

.news-title {
  margin: 0 0 26px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.news-title::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
}

.news-description {
  margin: 0 0 12px;
  padding: 0;
}

.news-readmore {
  display: inline-block;
  padding: 12px 46px;
  font-size: 16px;
  background-color: #1abc9c;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}

.news-readmore:hover {
  background-color: #7fd9c7;
}









.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}