$colors: (
  main: #999999,
  secondary:  #333333,
  menu: #ffffff,
  hover: #fce38a,
  section-line: #f38181,
  footer-button: rgb(149, 225, 211),
  input-border: #e8e8e8,
  input-placeholder: #cccccc
);

$font-sizes: (
  main-font: 0.9375rem,
  main-line-height: 1.5rem
);